.favorites {
    background-color: #d2daf583;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.favorites__header {
    font-size: 28px;
    padding-left: 25px;
    margin-top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #c8d3f583;
    border-bottom: 1px solid rgba(139, 137, 137, 0.678);
}

.favorites__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}