@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 60px;
    padding-right: 60px;
    /*background-color: #d6d5d0; */
    background-color: rgb(59, 55, 55);
}

.header__name {
    color: rgb(218, 213, 213);
    font-family: 'Bad Script', cursive;
    font-size: 38px;
}

.header__icon {
    height: 10vh !important;
    color: white !important;
    font-size: 38px !important;
}