.movies {
    height: 90vh;
    overflow: auto;
    width: 100%;
}

.movies__detail {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.movies__detail__poster img {
    margin-left: 20px;
    height: 45vh;
}

.movies__detail__poster {
    width: 20vw;
    background-color: brown;
}

.movies__detail__facts {
    width: 20vw;
    background-color: brown;
}

.movies__detail__facts ul {
    height: 34vh;
}

.movies__detail__facts Button {
   margin-left: 100px;
}

.movies__extra__info__numbers {
    display: flex;
    justify-content: space-around;
}

.movies__plot, .movies__extra__info__numbers, .movies__extra__info__rem {
    background-color: rgb(219, 196, 180);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.movies__plot h4 {
    font-size: large;
    font-style: italic;
}