.myforks {
    background-color: #d2daf583;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.myforks__header {
    font-size: 28px;
    padding-left: 25px;
}

.myforks__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    display: inline-grid;
}