.sidebar__option {
    text-align: center;
    height: 8vh;
    width: 17vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sidebar__option__link {
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(108, 59, 153);
    transition: 0.2s ease-in-out;
}

.sidebar__option:hover {
    background-color: rgb(196, 164, 226);
}

.sidebar__option:hover .sidebar__option__link{
    color: white;
}

.sidebar__option__icon {
    display: flex;
    align-self: center;
    margin-left: 45px;
    margin-right: 15px;
    font-size: 29px !important;
    color: rgb(108, 59, 153) !important;
}

.sidebar__option:hover .sidebar__option__icon{
    color: white !important;
}

.icon {
    font-size: 29px !important;
}