.search {
    width: 55vw;
    display: flex;
    flex-direction: column;
    margin-left: -3vw;
}

.home__search {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-self: center;
}

.search__results {
    padding-left: 35px;
}

.title {
    font-size: 25px;
}

.search__movie {
    height: 35vh;
}

.search__news {
    height: 42vh;
    width: 48vw;
}

.search__news__content {
    display: flex;
    overflow: auto;
}

.search__reviews {
    height: 40vh;
    width: 48vw;
}

.search__reviews__content {
    display: flex;
    overflow: auto;
}