.search {
    width: 100%;
    height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #d2daf583;
    padding-top : 45px;
}

.home__search {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-self: center;
}

.home__search__button {
    background-color: rgb(108, 59, 153) !important;
}

.icon {
    color: white !important;
}

.search__results {
    padding-left: 35px;
}

.title {
    font-size: 25px;
}

.search__movie {
    height: 35vh;
}

.search__news {
    height: 42vh;
    width: 48vw;
}

.search__news__content {
    display: flex;
    overflow: auto;
}

.search__reviews {
    height: 40vh;
    width: 48vw;
}

.search__reviews__content {
    display: flex;
    overflow: auto;
}