.sidebar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 90vh;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    background-color: rgba(238, 237, 237, 0.733);
    border-right: 1px solid rgba(139, 137, 137, 0.678);
}
