.watched {
    background-color: #d2daf583;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.watched__header {
    font-size: 28px;
    padding-left: 25px;
    margin-top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #c8d3f583;
    border-bottom: 1px solid rgba(139, 137, 137, 0.678);
}

.watched__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

::-webkit-scrollbar {
    display: none;
}

/* Media query */
@media screen and (max-width: 950px) {
    .watched__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .watched__items {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 9vw;
    }
}